<h1 class="text-center">Cargar Imagenes con Nodejs-Angular-Mysql</h1>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form action="">
              <div class="form-group">
                <label>Escoger imagen a subir</label><br>
                <input class="form-control-file mt-3" type="file" name="image"><br>
                <button class="btn btn-outline-primary mt-3">Cargar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6"></div>
    </div>
  </div>
</div>